<footer>
  <section>
    <div class="row">
      <div class="col">
        <p>Scorpion is an open-source project, designed by <a href="https://twitter.com/lucasgruwez">@lucasgruwez</a>, <a href="https://twitter.com/arthur_guiot">@arthur_guiot</a>, and maintained by him and the awesome github comunity.</p>
      </div>
    </div>
    <hr style="opacity: .3;">
    <div class="row">
      <div class="col">
        <ul>
          <li>
            <a href="https://github.com/Scorpion-css"><img src="/assets/img/logos/github.svg" alt="Github"></a>
          </li>
          <li>
            <a href="https://npmjs.com/package/scorpion.css"><img src="/assets/img/logos/npm.svg" alt="NPM"></a>
          </li>
          <li>
            <a href="https://twitter.com/search?f=tweets&q=%23Scorpioncss&src=typd"><img src="/assets/img/logos/twitter.svg" alt="Twitter"></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</footer>
