<head>

  <!-- meta -->

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="{% if page.meta %}{{ page.meta | strip_html | strip_newlines | truncate: 140 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- title -->

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- style sheets, icons, alternate... -->

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="icon" href="favico.png">
  <!-- <link rel="stylesheet" href="{{site.cdn}}"> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

</head>
