
<div>
  <h1>Scorpion.css</h1>
  <header></header>
  <p class="description">{{site.description}}</p>
  <h1>Time till release</h1>
  <section class="counter"><span class="day"></span><span class="hour"></span><span class="min"></span><span class="sec"></span></section>
</div>
<div>
  <section>
    <h1 class="tac">Simpler, more semantic code</h1>
    <p class="second-description">We believe that the best developers are the lazy developers. That's why we encourage simplicity in our components, so that you can write less, to achieve the same results. To make your components even simpler to write, we highly encourage the usage of the <a href="http://learnjade.com/">jade</a> templating language.</p>
    <div class="row">
      <div id="responsive" class="col"><img src="/assets/img/responsive-logo.svg" alt="Responsive"/>
        <hr/>
        <h2>Fully responsive</h2>
        <p>Scorpion components scale flawlessly, so that they can be used on any size device, from a phone to a desktop !</p>
      </div>
      <div id="preprocessor" class="col"><img src="/assets/img/logos/sass.svg" alt="Sass logo" class="sass"/>
        <hr/>
        <h2>Sassy as can be</h2>
        <p>Scorpion is a css (and js) library, written entirely in <a href="http://sass-lang.com">Sass</a>. You can quickly get started with our precompiled css, or build upon the sass source code.</p>
      </div>
      <div id="semantic" class="col"><img src="/assets/img/semantic.svg" alt="Semantic"/>
        <hr/>
        <h2>Readable HTML</h2>
        <p>We made our framework as semantic as we could, to make the code you write more readable, and more pleasant to write.</p>
      </div>
    </div>
  </section>
</div>
<div id="signup">   
  <section id="signup">
    <h2 class="tac">Subscribe to our mailing list, to know what we're up to !</h2>{% include signup.html %}
  </section>
</div>
<div> 
  <section id="customisability">
    <div class="row">
      <div class="col al"><img src="/assets/img/customize.svg" alt="Sliders"/>
        <h2>Make Scorpion your own</h2>
        <p>With tons of <a href="/theming">theming variables</a>, and loads of comonents, that you can chose to include (or not), you can customise Scorpion to fit your needs exactly. You can also download one of our pre-made <a href="/themes">themes</a>.</p>
      </div>
      <div class="col small">
        <h3>Theming examples yet to come!</h3>
      </div>
    </div>
  </section>
</div>
<div id="numbers">   
  <section id="numbers">
    <div class="row">
      <div class="col"><img src="/assets/img/themes.svg" alt="themes"/>
        <h2>Dozens of <a href="/templates">templates</a></h2>
        <p>Scorpion has loads of pre-made templates ready to be used, to get you up and running as quickly as possible</p>
      </div>
      <div class="col"><img src="/assets/img/downloads.svg" alt="downloads"/>
        <h2>Thousands of downloads</h2>
        <p>Even though scorpion hasn't ben launched yet, we have over 1k <a href="https://www.npmjs.com/package/scorpion.css">npm</a> downloads! </p>
      </div>
      <div class="col"><img src="/assets/img/puzzle.svg" alt="puzzle piece"/>
        <h2>Tons of extra components</h2>
        <p>Scorpion has a large library of <a href="/extentions">custom components </a> (we call them extentions), built by us and the community.</p>
      </div>
    </div>
  </section>
</div>
<section id="examples"></section>