<nav>
  <div class="logo-text">
    <img src="assets/img/logo_text.png" alt="Logo">
  </div>
  <ul>
    <li>
      <a href="https://scorpion-css.github.io">Home</a>
    </li>
    <li>
      <a href="https://scorpion-css.github.io/framework">Framework</a>
    </li>
    <li>
      <a href="https://scorpion-css.github.io/framework/docs">Documentation</a>
    </li>
    <li>
      <a href="https://scorpion-css.github.io/blog">Blog</a>
    </li>
  </ul>
  <img src="/assets/img/menu.svg" alt="Menu" class="menu-togle">
</nav>
